spring:
  application:
    name: vac
  datasource:
    url: jdbc:postgresql://localhost:5432/vac?currentSchema=vac
    username: root
    password: Ab123456
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: vac
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379

#logging:
#  level:
#    org.springframework.jdbc.core: DEBUG